@use '/src/core/styles/variables';
@use '/src/core/styles/mixins';

.login-page {
  position: relative;
  height: 100dvh;
  width: 100vw;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  :global {
    .switcher {
      position: absolute;
      top: 30px;
      right: 30px;
    }
  }
}

:global(.dark) .login-page {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/src/assets/login-bg.jpg');
  background-size: cover;
  background-position: center;
}

:global(.light) .login-page {
  background: linear-gradient(rgba(255, 255, 255, 0.859), rgba(255, 255, 255, 0.5)), url('/src/assets/login-bg.jpg');
  background-size: cover;
  background-position: center;
}
