@use '/src/core/styles/variables';
@use '/src/core/styles/mixins';

.header {
  padding-inline: 30px;
  @include mixins.breakpoint('size-md-down') {
    padding-inline: 10px 15px;
  }
  :global {
    .app-title {
      @include mixins.breakpoint('size-md-down') {
        display: none;
      }
    }
  }
}
