import style from './styles.module.scss';

function {{pascalCase name}}(){
  return (
    <div className={style['{{kebabCase name}}']}>{{pascalCase name}}</div>
  )
}

export default {{pascalCase name}}
