@use '/src/core/styles/variables';
@use '/src/core/styles/mixins';

.image-list-item {
  flex: 1 0 200px;
  padding: 10px;
  position: relative;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: variables.$box-shadow-x2-lg;

  :global {
    .image-container {
      height: 200px;
      width: 100%;
      overflow: hidden;
      opacity: 1;
      transition: all 0.2s ease-out;
      &:hover {
        scale: 1.02;
        transition: all 0.3s ease-out;
        opacity: 0.5;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 8px;
        &:nth-child(1) {
          grid-column: span 2;
        }
      }
    }

    .image-actions {
      position: absolute;
      right: 10px;
      padding: 5px 10px;
      z-index: 20;
      > span {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        :global(.dark) & {
          background-color: transparent;
        }
        :global(.light) & {
          background-color: rgba(255, 255, 255, 0.5);
        }
        box-shadow: variables.$box-shadow-x2-md;
        & svg.react-icon {
          :global(.light) & {
            color: variables.$color-font-light;
          }
        }
        & svg.react-icon.star-icon {
          &.active {
            color: variables.$color-contrast;
          }
        }
        &:hover {
          & svg.react-icon {
            &.star-icon {
              color: variables.$color-primary;
            }
            &.edit-icon {
              color: variables.$color-primary;
            }
          }
        }
      }
    }
  }

  :global(.dark) & {
    background-color: variables.$bg-tertiary-dark;
  }
  :global(.light) & {
    background-color: variables.$bg-tertiary-light;
  }
}
