@use '/src/core/styles/variables';
@use '/src/core/styles/mixins';

.searcher {
  :global {
    .ant-input-search {
      .ant-input-search-button.ant-btn-variant-outlined {
        height: 38.6px;
        background-color: variables.$color-primary;
        svg {
          fill: white;
        }
        &:hover {
          background-color: variables.$color-primary;
        }
      }
      &:focus .ant-input-search-button.ant-btn-variant-outlined {
        background-color: variables.$color-primary;
      }
    }

    .ant-input-search-button.ant-btn-variant-outlined:not(.ant-btn-primary) {
      &:hover {
        background-color: variables.$color-bg-hover;
      }
    }
  }
}
