@use 'variables';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
  &.light {
    color: variables.$color-font-light;
  }
  &.dark {
    color: variables.$color-font-dark;
  }
}

body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;

  .ant-layout-footer {
    padding-block-start: 5em;
    padding-block-end: 1em;
    font-size: 0.8rem;
  }

  .rounded-style {
    border-radius: 40px;
  }

  .react-icon {
    font-size: 21px;
    vertical-align: middle;
  }
}

body {
  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 3px solid variables.$theme-switch-day;
    border-top: 0;
    border-bottom: 0;
  }

  .ant-table-body {
    //required for overriding default ant table body scrollbar
    scrollbar-width: auto;
    scrollbar-color: auto;
  }

  .app-layout .app-content,
  .ant-drawer-body,
  .ant-table-body,
  textarea,
  * {
    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: linear-gradient(14.93deg, #868686 -42.27%, variables.$color-primary 95.89%);
      border-radius: 4px;
    }
  }

  .app-layout .app-content {
    &::-webkit-scrollbar {
      width: 5px;
    }
  }

  &.light,
  &.light .app-layout .app-content,
  &.light .ant-table-body,
  &.light textarea,
  &.light * {
    &::-webkit-scrollbar-track {
      background: variables.$theme-switch-day;
    }

    &::-webkit-scrollbar-thumb {
      background: linear-gradient(14.93deg, white -42.27%, variables.$color-primary 95.89%);
    }
  }

  &.dark,
  &.dark .app-layout .app-content,
  &.dark .ant-table-body,
  &.dark textarea,
  &.dark * {
    &::-webkit-scrollbar-track {
      background: variables.$theme-switch-night;
    }
  }
}
