// VARIABLES
//////////////////////////////////////////////////////////////////////////
$primary-font-family: 'Montserrat', 'sans-serif';

// COLORS
$color-primary: #9290c3;
// $color-hover-light: #3d42a4;
$color-bg-hover: #ffd480;
$color-hover-light: #ffd480;
$color-hover-dark: #ffd480;
$color-input-border-light: rgba(0, 0, 0, 0.12);
$color-input-border-dark: rgba(255, 255, 255, 0.12);

$secondary-color: #040d26;

$black-color: #000000;
$white-color: #ffffff;

$text-light-color: #ffffff;
$text-dark-color: #212529;

$grey-light-color: #6b87af;
$grey-dark-color: #abbcc3;
$darker-grey-color: #8686863c;
$grey-color: #868686;
$text-grey-color: #4e4e50;

$emphasis-high-light-color: rgba($black-color, 0.88);
$emphasis-medium-light-color: rgba($black-color, 0.64);
$emphasis-small-light-color: rgba($black-color, 0.4);

$emphasis-high-dark-color: rgba($white-color, 0.88);
$emphasis-medium-dark-color: rgba($white-color, 0.64);
$emphasis-small-dark-color: rgba($white-color, 0.4);

$theme-switch-day: #ffffff;
$theme-switch-night: #212529;

$bg-dark-primary: #212529;
$bg-dark-secondary: #343a40;
$bg-dark-tertiary: #262b2f;
$bg-light-primary: #ffffff;
$bg-light-secondary: #f5f7f9;

$info-text-light: #000000d9;

$bg-light-color: #ffffff;
$bg-dark-color: #212529;

$bg-darker-grey-color: #343a40;
$bg-lighter-grey-color: #f5f7f9;

$border-light-color: rgba($black-color, 0.12);
$border-dark-color: rgba($white-color, 0.12);

$red-light-color: #b01f24;
$red-dark-color: #d1252b;

$secondary-light-border-color: #ced4da;
$secondary-dark-border-color: #f5f7f9;

$input-border-color: #9d9d9d48;
$placeholder-color: #868686;

$card-border-color-light: rgba(245, 247, 249, 1);
$card-bg-color-light: rgba(250, 251, 252, 1);

$layout-shadow-light: 0px 4px 17px 0px rgba(0, 0, 0, 0.1);
$layout-shadow-dark: 0px 4px 17px 0px rgba(0, 0, 0, 0.2);
$layout-border-light: 1px solid #e9ebec;

$label-light-color: #00000073;
$label-dark-color: #878a99;

// BREAKPOINTS
$size-xs: 480px;
$size-sm: 576px;
$size-md: 768px;
$size-lg: 992px;
$size-xl: 1200px;
$size-xxl: 1600px;

// HEADER HEIGHT
$header-lg: 96px;
$header-sm: 80px;

// BOX SHADOWS
$box-shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.5);
$box-shadow-md: 0 4px 6px rgba(0, 0, 0, 0.5);
$box-shadow-lg: 0 5px 15px rgba(0, 0, 0, 0.5);
$box-shadow-xl: 0 10px 24px rgba(0, 0, 0, 0.5);
$box-shadow-xxl: 0 15px 35px rgba(0, 0, 0, 0.5);

$box-shadow-x2-sm:
  0 1px 3px rgba(0, 0, 0, 0.12),
  0 1px 2px rgba(0, 0, 0, 0.24);
$box-shadow-x2-md:
  0 3px 6px rgba(0, 0, 0, 0.15),
  0 2px 4px rgba(0, 0, 0, 0.12);
$box-shadow-x2-lg:
  0 10px 20px rgba(0, 0, 0, 0.15),
  0 3px 6px rgba(0, 0, 0, 0.1);
$box-shadow-x2-xl:
  0 15px 25px rgba(0, 0, 0, 0.12),
  0 5px 10px rgba(0, 0, 0, 0.02);
$box-shadow-x2-xxl: 0 20px 40px rgba(0, 0, 0, 0.2);

$button-shadow-sm_light:
  0 1px 3px rgba(255, 255, 255, 0.15),
  inset 0 1px 0 rgba(0, 0, 0, 0.1);
$button-shadow-md_light:
  0 2px 0 rgba(255, 255, 255, 0.15),
  inset 0 2px 2px rgba(0, 0, 0, 0.1);
$button-shadow-sm_dark:
  0 1px 3px rgba(0, 0, 0, 0.2),
  inset 0 1px 0 rgba(255, 255, 255, 0.15);
$button-shadow-md_dark:
  0 2px 0 rgba(0, 0, 0, 0.2),
  inset 0 2px 2px rgba(255, 255, 255, 0.15);
